.db_header_nav li{
    @apply text-lg font-medium uppercase
}
.db_header_nav .link{
    @apply text-orange font-bold
}
@media ( max-width: 1279px ){
    .mobile_db_header {
        transition: 0.3s;
        @apply fixed top-0 left-0 h-screen bg-black/90 w-full z-[999] transform -translate-x-full;
    }
    .mobile_db_header_open{
        @apply translate-x-0
    }
    .mobile_db_header .mobile_db_header_inner {
        @apply max-w-sm w-11/12 bg-black-20 h-full overflow-y-auto p-5
    }
    .sidebar_normal {
        height: 0;
        transition: all 0.3s;
        transform-origin: top;
        opacity: 0;
    }
    
    .sidebar_normal.sidebar_open {
        height: auto;
        opacity: 1;
    }
}