/* general css  */

/* header css  */
.landingpage_header_main {
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    @apply text-white font-semibold;
}
/* hero section css */
.hero_section{
    background-image: url('../../public/landingPage/images/hero-img.png');
    background-position: 0% center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: #000;
}
/* signup css  */
.signup_section::before{
    content: '';
    filter: blur(200px);
    @apply absolute top-0 left-[calc(50%-500px)] bg-red-1 w-500px h-500px rounded-full transform -translate-x-full z-[9];
}
.signup_section::after{
    content: '';
    filter: blur(200px);
    @apply absolute top-0 right-0 bg-blue w-500px h-500px rounded-full transform -translate-y-1/2 z-[9];
}
/* adult-community section */
.adult-community-image{
    background-image: url('../../public/landingPage/images/Banner-2.png');
    background-position: 0% center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: #000;
}

@media ( max-width: 1023px ){
    .lp_navbar{
        transition: all 0.3s;
        @apply top-0 left-0 bg-black/60 min-h-screen w-full transform -translate-x-full z-[999] fixed
    }
    .lp_navbar_open{
        @apply translate-x-0
    }
    .lp_navbar nav {
        @apply m-0 w-[95%] bg-white min-h-screen max-w-sm pt-7 text-black
    }
    .lp_navbar ul li{
        @apply mb-3
    }
    .hero_section{
        background-size: cover;
        background-position: center;
    }
}
@media ( max-width: 767px ){
    .adult-community-image{
        background-size: 100%;
        background-position: 0% bottom;
    }
}