*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Grandiflora One';
  src: url('../public/fonts/GrandifloraOne-Regular.eot');
  src: url('../public/fonts/GrandifloraOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/GrandifloraOne-Regular.woff2') format('woff2'),
      url('../public/fonts/GrandifloraOne-Regular.woff') format('woff'),
      url('../public/fonts/GrandifloraOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-ExtraLight.eot');
  src: url('../public/fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-ExtraLight.woff2') format('woff2'),
      url('../public/fonts/Poppins-ExtraLight.woff') format('woff'),
      url('../public/fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Bold.eot');
  src: url('../public/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-Bold.woff2') format('woff2'),
      url('../public/fonts/Poppins-Bold.woff') format('woff'),
      url('../public/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Light.eot');
  src: url('../public/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-Light.woff2') format('woff2'),
      url('../public/fonts/Poppins-Light.woff') format('woff'),
      url('../public/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Regular.eot');
  src: url('../public/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-Regular.woff2') format('woff2'),
      url('../public/fonts/Poppins-Regular.woff') format('woff'),
      url('../public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-SemiBold.eot');
  src: url('../public/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../public/fonts/Poppins-SemiBold.woff') format('woff'),
      url('../public/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Medium.eot');
  src: url('../public/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins-Medium.woff2') format('woff2'),
      url('../public/fonts/Poppins-Medium.woff') format('woff'),
      url('../public/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* general css  */
body{
  @apply font-primary_font
}
.primary_btn{
  @apply inline-flex justify-center py-10px px-5 rounded-xl text-xl text-white font-semibold;
  background: linear-gradient(46deg, #F79220 55.15%, #F94A2B 82%);
}
.gradient {
  background: linear-gradient(46deg, #F79220 55.15%, #F94A2B 82%);
}
.circle_blur{
  filter: blur(200px);
}
.container{
  @apply px-5
}
